<div class="container">
    <div class="logo"></div>
    <div class="slogan">
        <h3>Het LGBTQI-netwerk van NS!</h3>
    </div>
    <section class="social">
        <a href="#">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="#">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="#">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="#">
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
    </section>
    <section class="menu-container">
        <ul class="menu">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Lid worden</a></li>
            <li><a href="#">Over ons</a></li>
        </ul>
    </section>

    <section class="agenda">
        <h1>Agenda</h1>
        <ul>
            <li>
                <b>15 maart - Event name</b><br/>
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                Locatie<br/>
                <fa-icon [icon]="faClock"></fa-icon>
                11:00<br/>
                <fa-icon [icon]="faInfoCircle"></fa-icon>
                Informatie hierover
            </li>
            <li>
                <b>8 april - Event name</b><br/>
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                Locatie<br/>
                <fa-icon [icon]="faClock"></fa-icon>
                13:00
            </li>
        </ul>


    </section>
    <section class="member">
        <h1>Lid worden</h1>
        <p>
            Wil je lid worden van Trainbow? Heb je een vraag? Of wil je op de hoogte blijven van onze activiteiten? Neem
            dan contact met ons op! Je kunt ons bereiken via <a href="mailto:trainbow@ns.nl">trainbow<span
            style="display: none">bar</span>@ns.nl</a>, of via sociale media.
        </p>
    </section>
    <section class="about">
        <h1>Over ons</h1>
        <p>
            Trainbow is een netwerk van collega’s die samen willen werken aan een prettige werkplek voor homoseksuele,
            lesbische, biseksuele, transgender, intersekse en queer collega's. Sterker nog, iedereen is welkom!
        </p>
        <p>
            Trainbow bestaat omdat iedereen welkom is bij NS en omdat dat het toch nog steeds lastig is om op je werk
            jezelf te kunnen zijn. Om te vertellen van wie je houdt of met wie je woont. Dat kan met je collega’s te
            maken hebben, en met jezelf. Trainbow wil een veilige haven bieden om gelijkgestemden te ontmoeten. Om af en
            toe je te verenigen met anderen die dezelfde worsteling als jij kennen. Om daarna weer meer jezelf te zijn
            op je werkplek.
        </p>
        <p>
            Binnen NS geeft Trainbow de directie gevraagd en ongevraagd advies over seksuele- en genderdiversiteit.
            Alles met het doel: zorgen dat alle collega’s zichzelf kunnen zijn en zich veilig voelen bij NS. Sluit je
            vrijblijvend aan bij ons netwerk, <a href="mailto:trainbow@ns.nl">stuur ons een<span style="display: none">bar</span>
            mail</a> en blijf op de hoogte van alle ontwikkelingen.
        </p>
    </section>
    <section class="blog">
        <h1>Blog</h1>
        <h2>Titel blog post</h2>

        <p>
            <small class="date">15 maart 2020</small>
        </p>
        <p>
            Beste Trainbowers,
        </p>
        <p>
            Dit <a href="/">is een</a> link.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut sollicitudin libero, fringilla fringilla
            nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eget
            purus augue. Donec finibus volutpat vulputate. Aliquam at nisi eros. Mauris et blandit justo, eget rhoncus
            libero. Phasellus semper, odio et sollicitudin vehicula, leo elit congue ex, quis iaculis urna dui sit amet
            justo. In augue ligula, efficitur finibus magna non, sollicitudin accumsan orci. Interdum et malesuada fames
            ac ante ipsum primis in faucibus. Nulla pharetra lacus quis massa efficitur, ut vulputate nunc ultrices.
        </p>
        <p>
            Vivamus vitae quam et odio venenatis mattis eget tincidunt justo. Nullam accumsan convallis orci, ut posuere
            mauris ullamcorper in. Integer molestie neque pharetra sem maximus sagittis. Duis aliquam tristique ante, ut
            luctus ligula gravida ut. Aliquam facilisis eget dolor at laoreet. Pellentesque nec orci semper, egestas
            magna vitae, lobortis leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos.
        </p>
        <p>
            Afsluiter!
        </p>
        <h2>Alle posts</h2>
        <ul>
            <li><span class="date">15 maart 2020</span><a href="#" class="inactive">Titel blog post</a></li>
            <li><span class="date">1 maart 2020</span><a href="#">Eerdere post</a></li>
            <li><span class="date">23 november 2019</span><a href="#">En nog een</a></li>
        </ul>

    </section>
</div>
