<span *ngIf="notFound" class="not-found" translate>NOT_FOUND</span>

<h2>{{ activeItem.title }}</h2>

<p class="item-date">
    <small class="date">{{ activeItem.date | date: 'd MMMM y' }}</small>
</p>

<p *ngFor="let paragraph of activeItem.message" [innerHTML]="paragraph"></p>

<div *ngIf="activeItem.images && activeItem.images.length > 0" class="images-container">
    <div *ngFor="let image of activeItem.images" class="image-container">
        <img [src]="image" alt="">
    </div>
</div>

<h2 translate>HEADINGS.ALL_ITEMS</h2>

<ul class="all-items">
    <ng-container *ngFor="let item of blogItems">
        <li *ngIf="item.archive">
            <small class="date">{{ item.date | date: 'd MMMM y' }}</small>
            <a [routerLink]="['/blog/' + item.id]"
               (click)="setActiveItem(item)"
               [class.inactive]="item === activeItem">
                {{ item.title }}
            </a>
        </li>

    </ng-container>
</ul>
