@import '../../styles';

.not-found {
    display: block;
    font-size: 0.7em;
    color: $dark-red;
    font-weight: bold;
    margin: 0.83em 0 0.83em 20px;
}

.item-date {
    padding-left: 14px
}

.action {
    display: flex;
    justify-content: center;

    a {
        font-weight: bold;
        letter-spacing: $wide-letter-spacing;
    }
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    .image-container {
        flex: 0 0 auto;
        margin: 2px;
        display: flex;
        justify-content: center;
        max-width: fit-content;

        img {
            border: 1px solid $light-pink;
            border-radius: 5px;
            max-width: 90%;
        }
    }
}

.all-items {
    padding: 0 30px;

    li {
        padding-bottom: 5px;
        line-height: 20px;
        font-size: 15px;
    }

    a {
        border: none;
    }

    .inactive {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        border: none;
        color: inherit;
    }

}
